.idea
apify_storage
node_modules
crawls
.DS_Store
downloaded.tgz
jobdir.tgz
.vscode
.eslintrc.json
*.csv
/Outputs-20220617-235700.csv
apify/__pycache__/__init__.cpython-37.pyc
actor/__pycache__/__init__.cpython-37.pyc
actor/__pycache__/settings.cpython-37.pyc
actor/spiders/__pycache__/__init__.cpython-37.pyc
actor/spiders/__pycache__/run.cpython-37.pyc
